@-moz-document url-prefix("https://docs.google.com/document"), url-prefix("https://docs.google.com/presentation") {
    /* This CSS made for Firefox use only */
    :root {
        --beige-color: #ECE9D8;
        --tooltip-ballon-beige: rgb(255, 255, 225);
        --pmingliu-font-family: Tahoma, '細明體96', 'PMingLiU', sans-serif;
    }
    /*ppt */#workspace-container {
        background: #bbbaae;
    }
    /*ppt 尺規*/#docs-editor, #docs-editor-container, .docs-horizontal-ruler, .docs-vertical-ruler /*end of ppt 尺規*/, #speakernotes-dragger, #filmstrip-controls {
        background: var(--beige-color) !important;
    }
    .kix-appview-editor {
            background-color: #bbbaae !important;
        }
        .docs-grille-gm3 #docs-chrome:not(.docs-hub-chrome), 
        .docs-grille-gm3 #docs-header:not(.docs-hub-appbar) .docs-titlebar-buttons,
        .docs-main-toolbars, .goog-toolbar-button-outer-box, .goog-toolbar-toggle-button,
        .docs-collapsable-toolbar-control,
        .docs-titlebar-badge-container:hover .goog-control{
            background: var(--beige-color) !important;
            background-image: linear-gradient(133deg, #f3f4f7 90%, #eae6d0 100%);
            border: 1px solid transparent;
            box-shadow: none !important;
        } 
        /*Hover 藍掣*/
        .goog-toolbar-button-outer-box:hover, .goog-toolbar-menu-button-outer-box:hover,
        .docs-titlebar-badge-container:hover .goog-control,
        #docs-revisions-appbarbutton.jfk-button:hover, #docs-docos-commentsbutton.jfk-button:hover,
        .docs-parent-collections-container:hover,
        .docs-bubble-button:hover,
        .docs-grille-gm3 #docs-titlebar-share-client-button:hover .jfk-button:hover,
        .docs-grille-gm3 #docs-titlebar-share-client-button .jfk-button:hover, .docs-grille-gm3 #scb-quick-actions-menu-button.goog-flat-menu-button:hover {
            border: 1px solid #316AC5;
            background: #C1D2EE !important;
            border-radius: 0;
        }
        .navigation-item:hover,
        /*文件大綱掣及收埋*/.navigation-widget-hat-close:hover .navigation-widget-hat-close-button-outer-box, .outline-refresh.docs-floating-navigation-button:hover .docs-floating-navigation-button-outer-box {
            outline: 1px solid #316AC5;
            background: #C1D2EE !important;
        }
        /*Toolbar 掣 hover 飄起陰影*/
        .goog-toolbar-button-outer-box:hover .docs-icon-img {
            filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0.3)) ;
            transform: translate(-2px,-2px);
        }
        /*prepare spacing for hover */
        .docs-titlebar-badge-container .goog-control {
            border: 1px solid transparent;
            margin-bottom: 5px;
        }
        /*校正位置*/
        .docs-titlebar-badges {
            position: relative;
            top: -2px;
        }
        /*共用掣*/
        .docs-grille-gm3 #docs-titlebar-share-client-button, .docs-grille-gm3 #docs-titlebar-share-client-button:hover .jfk-button:hover, .scb-split-button.jfk-button:focus,
        /*文件大綱掣及收埋*/.navigation-widget-hat-close-button-outer-box, .docs-floating-navigation-button-outer-box,
        /*共用掣 - 側箭咀*/.docs-grille-gm3 #scb-quick-actions-menu-button.goog-flat-menu-button {
            border-radius: 0 !important;
        }

        /*幻燈片放映掣*/ #punch-start-presentation-left.jfk-button 
        {
            border-radius: 3px 0 0 3px !important;
        }
        /*幻燈片放映掣 - 側箭咀*/ #punch-start-presentation-right.goog-flat-menu-button {
            border-radius: 0 3px 3px 0 !important;
        }
        #punch-start-presentation-left.jfk-button, #punch-start-presentation-right.goog-flat-menu-button {
            height: 40px;
            font-family: var(--xp-font-family);
            -webkit-font-smoothing: antialiased;
            font-size: 13px !important;
            box-sizing: border-box;
            border: 1px solid #003c74;
            background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4) !important;
            box-shadow: none;
            outline: none;
            color: black !important;
        }
        #punch-start-presentation-left.jfk-button:hover, #punch-start-presentation-right.goog-flat-menu-button:hover {
            box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a !important;
        }
        
        #punch-start-presentation-left.jfk-button:focus, #punch-start-presentation-right.goog-flat-menu-button:focus, #punch-start-presentation-left.jfk-button:active {
            box-shadow: none !important;
            background: linear-gradient(180deg,
                    rgba(205, 202, 195, 1) 0%,
                    rgba(227, 227, 219, 1) 8%,
                    rgba(229, 229, 222, 1) 94%,
                    rgba(242, 242, 241, 1) 100%) !important;
        }

        /*Titlebar 雲端save顯示掣*/
        .docs-save-indicator-container:hover .goog-inline-block {
            background: transparent !important;
        }

        /*Menu (s)*/
        .goog-toolbar-menu-button-outer-box,
        .docs-parent-collections-container{
            background: transparent !important;
            border: 1px solid transparent;
            box-shadow: none !important;
        }
        .menu-button:hover, .docs-gm .goog-menuitem:hover, .docs-gm .goog-menuitem:hover .goog-menuitem-label, .goog-menuitem:hover .goog-menuitem-content,
        .docs-grille-gm3 .docs-menubar .goog-control-hover, .docs-grille-gm3 .docs-menubar .goog-control-open{
            color: white !important;
            background: #316bcd !important;
        }
        .goog-menuitem:hover .goog-menuitem-accel, .goog-menuitem:hover .docs-toolbar-mode-switcher-menu-description {
            color: #ccc;
        }
        .docs-gm .goog-menuitem:hover .docs-icon-img, .goog-menuitem:hover .goog-menuitem-checkbox, .goog-flat-button:hover .docs-icon-close-thin {
            filter: invert(100%) sepia(7%) saturate(0%) hue-rotate(132deg) brightness(150%) contrast(108%);
        }


        .docs-grille-gm3 #docs-titlebar-share-client-button .jfk-button, .docs-grille-gm3 #scb-quick-actions-menu-button.goog-flat-menu-button{
            background: #d0cec0 !important;
            border-radius: 0;
        }
        .docs-omnibox-autocomplete .docs-omnibox-input {
            background: #fff !important;
        }
        .docs-grille-gm3.docs-gm #docs-toolbar-mode-switcher {
            background: var(--beige-color) !important;
        }
        .navigation-widget-row-controls .goog-flat-button:hover{
            background: #f23c3c;
        }
        .outline-refresh .navigation-item.location-indicator-highlight .navigation-item-content, .outline-refresh .navigation-item.location-indicator-highlight .navigation-item-content.goog-button-hover, .outlines-widget .outlines-widget-chaptered .location-indicator-highlight.navigation-item [class*="navigation-item-level-"], .outlines-widget .outlines-widget-chaptered .location-indicator-highlight.navigation-item [class*="navigation-item-level-"].goog-button-hover ,
        .outline-refresh.navigation-widget-unified-styling .location-indicator-highlight.navigation-item, .outline-refresh.navigation-widget-unified-styling .location-indicator-highlight.navigation-item .navigation-item-level-0{
            color: white !important;
            background: #316bcd !important;
        }
        .docs-gm .goog-menu {
            border: 1px solid #aaa !important;
            box-shadow: 3px 3px 2px #8080806e !important;
            background: #ffffffba;
            backdrop-filter: blur(20px);
            border-radius: 0;
        }
        /*縮短menu item spacing*/
        .docs-gm .goog-menu .goog-menuitem {
            padding: 0px 15px 0px 38px;
        }
        /*縮短menu item spacing - 校正 icon 位*/
        .docs-gm .goog-menu .goog-menuitem .goog-menuitem-checkbox,
        .docs-gm .goog-menu .goog-menuitem .goog-menuitem-icon:not(.docs-omnibox-row-icon) {
          margin:0px 8px 0px 12px;
          left:0;
          top:0
        }
        .docs-gm .docs-menubar .goog-control {
            border-radius: 0;
        }
        /*input Text - Search 選單 & Font Size & Display Percentage*/
        .docs-omnibox-autocomplete .docs-omnibox-input,
        .docs-grille-gm3 #docs-omnibox-toolbar.assisted-actions .docs-omnibox-input:focus-within,
        .docs-grille-gm3 #fontSizeSelect.docs-font-size-inc-dec-combobox.goog-toolbar-combo-button,
        .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-combo-button {
            border: 1px solid #7F9DB9 !important;
            background: white !important;
            border-radius: 0 !important;
        }
        /*Search 選單 - dropdown menu*/
        .docs-omnibox-autocomplete .ac-renderer {
            border: 1px solid #aaa;
            border-radius: 0;
        }
        #docs-omnibox-toolbar.assisted-actions .docs-omnibox-autocomplete .ac-row .goog-menuitem {
            padding: 4px 15px 4px 35px;
        }
        /*tooltip*/
        .jfk-tooltip, .gb_3e/*帳戶*/ {
            color: black !important;
            background: var(--tooltip-ballon-beige) !important;
            font-family: var(--pmingliu-font-family) !important;
            box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
            border-radius: 0 !important;
            border: 1px solid black !important;
            min-height: 16px !important;
            min-width: 5px !important;
            padding: 1px 2px !important;
        }
        .gb_3e div:first-child /*帳戶*/ {
            color: black !important;
        }
        .gb_Hc > * /*帳戶*/, .docs-grille-gm3 .scb-tooltip-title /*共用*/ {
            color: #888 !important;
        }
    }
