@-moz-document url-prefix("https://drive.google.com/drive/") {
    :root {
        --beige-color: #ECE9D8;
        --tooltip-ballon-beige: rgb(255, 255, 225);
        --mingliu-font-family: Tahoma, '細明體96', sans-serif;
    }
    /*header*/
    .ak25Me {
        background-image: linear-gradient(133deg, #f3f4f7 0%, #eae6d0 20%) !important;
    }
    /*sidebar*/
    .ALpC8b, .fVVp2c {
        background-image: linear-gradient(180deg, #7aa1e6 0%, #6376d6 50%) !important;
        font-family: var(--mingliu-font-family);
        -webkit-font-smoothing: antialiased;
        font-size: 11pt;
    }
    /*Disabled resize sidebar*/
    .RIln1c, .Rq0oCc {
        display: none !important;
    }
    /*sidebar menu item*/
    .a-U-J, .a-U-xc-J, 
    .USrqEe-ml-Pr-qc-j, .ub-ml-Pr{
        background: #d6dff7 !important;
        padding: 0;
        border-radius: 0;
    }
    .a-U-J {
        height: 20px;
    }
    .ub-sc-j {
        height: auto;
        background: #d6dff7 !important;
        padding-left: 18px;
        margin-left: 0 !important;
    }
    .a-U-ye {
        border: 2px solid #d6dff7;
    }
    
    .a-U-J:hover::before{
        background: none !important;
        background-image: none !important;
        border: 0 !important;
    }
    .a-U-J .a-s-T-j {
        border: 1px solid transparent !important;
    }
    .a-U-J:hover, .a-U-J:hover .a-s-T-j {
        color: #428EFF !important;
        text-decoration: underline;
    }
    
    .a-U-J::before {
        border: 1px solid #0008db !important;
        background-image: linear-gradient(180deg, #a6d0ff 0%, #0048b7 100%) !important;
        border-radius: 0 !important;
        opacity: 0.2 !important;
    }
    
    /*側列字*/
    .a-s-T-j {
        color: #1454c4 !important;
    }
    .a-U-J::before .a-s-T::before {
        color: black !important;
    }
    /*sidebar header 新增*/
    .ZHllM {
        border-bottom: 20px solid #7aa1e6;
        min-width: 257px !important;
    }
    .brbsPe {
        padding: 0;
        padding-left: 5px;
        height: 40px;
        font-family: 'Pixelated MS Sans Serif', Arial, 'PMingLiu', sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 13px;
        box-sizing: border-box;
        border: 1px solid #003c74;
        background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4) !important;
        box-shadow: none;
        border-radius: 3px;
        outline: none;
        color: black !important;
    }
    .brbsPe:hover {
        box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a !important;
    }
    .brbsPe:focus {
        box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4 ,
            inset 2px -2px #89ade4 !important;
    }
    
    .brbsPe:active {
        box-shadow: none !important;
        background: linear-gradient(180deg,
                rgba(205, 202, 195, 1) 0%,
                rgba(227, 227, 219, 1) 8%,
                rgba(229, 229, 222, 1) 94%,
                rgba(242, 242, 241, 1) 100%) !important;
    }
    /*sidebar header 新增*/
    .ZHllM {
        background-image: linear-gradient(90deg, #fff 0%, #C6D3F7 100%) !important;
        padding: 8px 16px !important;
    }


    /*取得更多儲存空間*/
    .AeBiU-vQzf8d {
        font-size: 12px;
        font-weight: normal !important;
        font-family: var(--mingliu-font-family);
    }
    /*取得更多儲存空間*/
    .AeBiU-d, .AeBiU-d-Qu-gc-Ca, .AeBiU-d-Qu-dgl2Hf, .jWOVfd-ml-d , .Ya-I-ph {
        margin: -9px 0 20px -25px;
        border: 0;
        border-radius: 0;
    }
    /*context menu*/
    .h-w, .h-w-Xi, .a-w {
        border: 1px solid #aaa !important;
        box-shadow: 3px 3px 2px #8080806e !important;
        background: #ffffffd4;
        backdrop-filter: blur(20px);
    }
    /*context menu item*/
    .h-v:hover {
        background: #316bcd !important;
    }
    .h-v:hover .a-v-T, .h-v:hover .h-v-x {
        color: white !important;
    }
    /*Speed up animation*/
    .a-w,
    .a-mb-w {
        transition:height 50ms cubic-bezier(0.4,0,0.2,1) 0ms,margin-top 100ms cubic-bezier(0.4,0,0.2,1),opacity 200ms cubic-bezier(0.4,0,0.2,1) !important;
    }
    /*context menu item svg icon*/
    .h-v:hover .c-Po {
        filter: invert(100%) sepia(7%) saturate(0%) hue-rotate(132deg) brightness(150%) contrast(108%);
    }
    
    /*top search bar*/
    .gb_Je, .a-WErN3d-OEtP0, .WJyHdc {
        background: #fff !important;
        border: 1px solid #a4bbe6;
        border-radius: 8px !important;
    }
    .S630me, /*files bottom */.PolqHc, /*right Properties */.wbg7nb {
        border-radius: 0 !important;
    }
    /*address bar */
    .a-s-tb-sc-Ja, .a-s-tb-Kg, .a-s-tb-sc-Ja-J, /*splitter*/ .mXlnof .a-s-Ba-Ak, /*right sidebar*/ .oLzOxb, .g3Fmkb, /*right Properties */.wbg7nb {
        background: #eae6d0 !important;
    }
    /*address bar fitler*/
    .a-Ba-Ed .a-s-Ba-ce {
        border-bottom: 1px solid #D8D2BD;
    }
    /*right proporties*/
    .a-ub-j,.a-ub-Gd  {
        border-radius: 0 !important;
        
        border-top-right-radius: var(--dt-corner-landmark,0) !important;
        border-top-left-radius: var(--dt-corner-landmark,0) !important;
    }
    /*Toast Message*/
    .a-la-B.g-Yd.a-Ff-B {
        color: black;
        background: var(--tooltip-ballon-beige);
        box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5);
        border: 1px solid black;
        border-radius: 12px;
        cursor: default;
        font-family: Tahoma, Arial sans-serif;
        left: unset;
        right: 24px;
        
    }
    .a-la-B.g-Yd.a-Ff-B:before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 20px 20px 0;
        border-color: transparent rgb(255, 255, 225) transparent transparent;
        transform: rotate(0deg);
        top: 0;
        left: 1px;
    }
    .a-Ff-B button {
        color: #000080 !important;
        text-decoration: underline;
    }
    /*儲存空間概況*/
    a.ji-A.cr-hTVF2c-r {
        font-size: 14px;
    }
    /*Toolbar ---*/
    .SQaXIc {
        align-items: end;
    }
    /*類型etc buttons*/
    .glX3de.EwXqJf {
        height: 28px;
    }
    .vhoiae .glX3de {
        background: unset;
        border-radius: 0;
    }
    .glX3de {
        border: none;
    }
    .glX3de:hover {
        color: white !important;
        background-color: #316bcd;
    }

    .hWG7gb {
        padding: 0;
    }
    .a-s-Ba-ce {
        min-height: unset;
    }
    .SQaXIc .CE1MF .oisqfd, .a-Oa-id-M, /*已選取 X 個項目*/.uEnUtd, .uEnUtd .a-c-d {
        margin-top: 0;
        margin-bottom: 0;
    }
    /*Toolbar ---*/

    /*Tooltips*/
    .ne2Ple-Ca-Qu-go .ne2Ple-z59Tgd, .vhoiae .g-Ca, .gb_2e, .Kk7lMc-Ca {
        color: black;
        background: var(--tooltip-ballon-beige);
        font-family: var(--mingliu-font-family);
        box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
        border-radius: 0;
        border: 1px solid black;
        min-height: 16px;
        min-width: 5px;
        padding: 1px 2px;
    }
    .gb_Fc div:first-child {
        color: black;
    }
    .gb_Fc > * {
        color: #888;
    }
    }